<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav">

    {% url 'home' as home %}
    {% url 'about' as about %}
    {% url 'contact' as contact %}
  
    <li {% if request.path == home %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
      <a class="nav-link" href=" {% url 'home' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li {% if request.path == about %} class="nav-item active"{% else %} class="nav-item" {% endif %}>
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li {% if request.path == contact %} class="nav-item active"{% else %} class="nav-item" {% endif %}>
      <a class="nav-link" href="{% url 'about' %}">Contact</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>
  <form class="form-inline float-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>